# Vim
*~
*.swp

# Intellij
.idea/
*.iml
out/

# Visual Studio Code
.vscode/
*.code-workspace


# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# Maven
target/
build/
output/

# OS
.DS_Store

# Log file
*.log

# ─── JUnit ────
*.junit
*.junit.xml

# ─── .NET / C# ────
bin/
obj/

# ─── Python ────
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.venv/
venv/
dist/
*.egg